// https://GitHub.com/AlphaKeks/.dotfiles

configuration {
  modes: [ run, drun, window ];
  dpi: 96;
  terminal: "wezterm";
  click-to-exit: true;
  disable-history: false;
  drun-match-fields: "all";
  no-lazy-grab: true;
  scroll-method: 0;
  no-drun-show-actions: true;
  drun-display-format: "{icon} {name} {generic}";
}

@theme "alpha"

// vim: et ts=2 sw=2 sts=2 ai si ft=rasi
